@import 'phone-foot.css';
@media screen and (min-width: 720px) {
  .kepu-header {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  body {
    background-color: #fff;
  }
  .kepu-header {
    display: flex;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151) !important;
    z-index: 10;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .kepu-header .child {
    flex: 1;
    text-align: center;
    line-height: 58px;
    font-size: 15px;
    font-family: SourceHanSansCN-Heavy-GBpc-EUC-H;
  }
  .kepu-header .child:first-child span {
    border-bottom: 2px solid #4a5da3;
    padding-bottom: 5px;
  }
  * {
    max-width: none !important;
    min-width: auto !important;
  }
  .contents {
    padding: 0;
  }
  .home_center .main .test-contents {
    padding: 0 20px !important;
    border: none !important;
    border-radius: 0;
  }
  .home_center .main .test-contents ul li {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    list-style: none;
  }
  .home_center .main .test-contents ul li .circle {
    display: none;
  }
  .home-container {
    margin: 0;
    width: 100% !important;
  }
  .main-container {
    width: initial !important;
  }
  /* head */
  .list .healthcard {
    display: none;
    width: 100%;
    border: none;
  }
  .list {
    padding: 0;
  }
  .blank {
    display: none;
  }
  .list .healthcard:first-child {
    display: block;
    width: 100%;
    border: none;
  }
  .list .healthcard .content {
    padding: 0;
  }
  .home-container .head-form > input {
    display: block;
    position: relative;
    margin: -1rem;
    top: 43vh;
    width: 100% !important;
    height: 5vh !important;
    font-size: 1.4rem !important;
    border-radius: 5rem;
  }
  /* top banner */
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .index-top-swiper .swiper-wrapper {
    height: 210px;
  }
  .index-top-swiper .swiper-wrapper .swiper-slide {
    height: 210px;
  }
  /* card按钮 */
  .service_entrance {
    padding: 7vh 0 0 0 !important;
    /* padding-top: 9vh !important; */
    display: flex;
    justify-content: space-between;
  }
  .service_entrance > .card > .img > img {
    display: none;
  }
  .service_entrance > .card > .img {
    background-image: url(../img/register@2x.png);
    height: 10vh;
    background-repeat: no-repeat;
    background-size: 59%;
    background-position: 1rem;
    padding-left: 2%;
  }
  .card {
    box-shadow: 0 0 0 !important;
  }
  .card > .name {
    font-size: 0.5rem !important;
    margin: 1vh 0 !important;
    position: relative;
    left: -2vw;
    top: -0.5rem;
  }
  .card > button {
    display: none;
  }
  .card:nth-child(2) > .img {
    background-image: url(../img/ReportQuery@2x.png);
  }
  .card:nth-child(3) > .img {
    background-image: url(../img/Pediatrics@2x.png);
  }
  .card:nth-child(4) > .img {
    background-image: url(../img/physicalExamination@2x.png);
  }
  /* tabs */
  .tabs {
    display: initial !important;
    padding: 0 !important;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .index-banner-swiper img {
    width: inherit !important;
  }
  .index-banners {
    width: 100% !important;
    margin: 0 !important;
  }
  .tab-list {
    width: 100% !important;
    justify-content: space-between;
    border-radius: 5rem 5rem 0 0;
    border-bottom: 1px solid #4a5da3 !important;
    padding-bottom: 0 !important;
  }
  .tab-list > li {
    width: 28% !important;
    margin: 2% 2% 0 2%;
  }
  /* .tab-list > li:first-child {
    margin-left: 10%;
  } */
  .tab-list > .active {
    border-bottom: 0.5vh solid #4a5da3;
  }
  .tab-list > li > p {
    font-size: 1.5rem;
    font-weight: 400 !important;
    /* margin: 3% 5% 0 20%; */
    /* padding-bottom: 3vh; */
    /* border-bottom: 1vh solid #4a5da3; */
  }
  .tab-more {
    position: absolute;
    top: 59vh;
    width: 30%;
    /* flex: initial !important; */
  }
  .tab-more a::after {
    content: "+";
    color: #4a5da3;
  }
  .tab-more > a {
    background-color: #fff !important;
    border: 1px solid #4a5da3;
    color: #4a5da3 !important;
    display: block;
    width: 310%;
    text-align: center;
    font-size: 1rem !important;
    padding: 1rem !important;
    border-radius: 5rem !important;
    /* height: 10rem !important; */
    /* vertical-align: middle; */
  }
  .news-list > li {
    height: 10vh !important;
    /* text-overflow: clip !important; */
    padding: 0 1rem;
    margin: 0 1rem;
  }
  .news-list > li > a {
    width: 40vw;
  }
  .news-list > li > a > .title {
    /* display: inline-block; */
    font-size: 1.4rem;
    position: relative;
    top: 1vh;
    left: -7.4rem;
    width: 100%;
    /* width: 30vw; */
  }
  .news-list > li > a > .time {
    font-size: 0.4rem;
    position: relative;
    top: 5vh;
    color: #808080;
  }
  .news-list > li::after {
    display: none !important;
  }
  /* departments */
  .pinklogo {
    background-color: #fff !important;
    margin: 65vh 0 0 !important;
  }
  .logoimg {
    padding: 2rem 10rem;
    background-color: #ffeaef;
  }
  .pinklogo > .logoimg > img {
    width: 100% !important;
    height: 100% !important;
  }
  .iconlist {
    padding: 0 !important;
    margin-top: 3rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial !important;
  }
  .icon {
    width: 25%;
    margin-bottom: 2rem;
  }
  .icon > div > img {
    width: 60% !important;
    height: 60% !important;
  }
  .icon > .name {
    font-size: 0.4rem !important;
    color: #b4a8a8 !important;
  }
  /* professor */
  .main .title .img img {
    height: initial;
  }
  .checkmore {
    display: none;
    top: -6vh !important;
    right: -25rem !important;
    font-size: 1rem;
    width: 4.4rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
  }
  .cardlist {
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }
  .main .contents {
    padding: 0 !important;
  }
  .personcard {
    width: 100% !important;
    /* height: 20rem; */
    position: relative;
  }
  .personcard > .describe {
    position: absolute;
    left: 10rem;
  }
  .personcard .img img {
    width: 82% !important;
  }
  .personcard > .describe > .introduction::before {
    width: 1.4rem !important;
    height: 1.4rem !important;
    line-height: 1.4rem !important;
    font-size: 1rem !important;
  }
  .personcard > .describe > .introduction {
    font-size: 0.8rem !important;
  }
  .detail {
    font-size: 0.4rem !important;
  }
  /* partywork */
  .all {
    display: none !important;
  }
  .healthcard .head {
    display: none;
  }
  /* 专题活动 */
  .activity-more {
    display: none;
  }
  .activity {
    margin-bottom: 8rem;
  }
  li.active::after {
    display: none;
  }
  .showtext .mainbox {
    display: none;
  }
  .title .img img {
    display: none;
  }
  .main {
    padding: 0 !important;
  }
  .main .contents {
    top: -1rem;
    position: relative;
    padding: 30px !important;
    /* border: 1px solid black; */
    border-radius: 1rem 1rem 0 0;
    background-color: #fff;
  }
  .main .title {
    height: 10vh !important;
    background-color: #4a5da3;
    background-repeat: no-repeat;
    background-image: url(../img/professorback.png);
    background-position: right;
  }
  .main .title .img {
    height: 10vh;
  }
  .main .title .img::before {
    content: '专家介绍';
    font-size: 2rem;
    color: #fff;
    line-height: 10vh;
    margin-left: 1rem;
  }
  .main:nth-child(n + 8) > .title {
    background-color: #a8250f;
  }
  .main:nth-child(n + 6) > .title > .img::before {
    content: '健康科普';
  }
  .main:nth-child(n + 7) > .title > .img::before {
    content: '专题活动';
  }
  .main:nth-child(n + 9) > .title > .img::before {
    content: '门诊信息';
  }
  .main:nth-child(n + 9) > .title {
    background-color: #4a5da3;
  }
  /* outpatient information */
  .container > .map {
    display: none;
  }
  .container {
    display: initial !important;
  }
  .information {
    padding-left: 0 !important;
  }
  .container .information .out {
    width: 90% !important;
    height: 5rem !important;
    border-radius: 1rem;
    position: relative;
    /* min-width: 350px !important; */
    /* overflow: hidden; */
  }
  .container .information .out .title {
    height: 5rem !important;
    line-height: 5rem !important;
    font-size: 0.5rem !important;
    border-radius: 1rem;
    width: 25%;
    text-align: center;
    min-width: 106px;
  }
  .include {
    position: relative;
    height: 4.7rem !important;
    width: 355px;
    overflow: hidden;
    white-space: nowrap;
  }
  .include p {
    font-size: 0.5rem;
    /* padding-left: 1rem; */
    overflow: hidden;
  }
  .include img {
    position: absolute !important;
    right: 1% !important;
    width: 58px !important;
    top: 0 !important;
    height: 58px;
  }
  .information {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 360px) {
  .container .information .out .title {
    display: none;
    width: 0;
    min-width: none !important;
    background-color: #fff !important;
  }
}
