@media screen and (max-width: 720px) {
  body {
    background-color: #fff;
  }
  body * {
    max-width: none !important;
    min-width: auto !important;
  }
  .home-container {
    margin: 0;
    width: 100%;
  }
  .main-container {
    width: initial !important;
  }
  .header .head-menu {
    display: none;
    height: initial;
    position: relative;
    top: 10rem;
  }
  .header .head-menu .head-menu-list {
    padding: 0;
    position: initial;
  }
  .header .head-menu .head-menu-list li a {
    color: black;
  }
  .expert-introduction {
    min-height: 0 !important;
    display: flex;
    box-shadow: 0 0 0 !important;
    border: 1px solid black !important;
    padding-top: 0;
  }
  .expert-introduction .left {
    overflow: hidden;
    display: initial;
    padding: 2px;
  }
  .expert-introduction .left img {
    width: 100%;
  }
  .expert-introduction .left .foot {
    float: left;
    background-color: white;
    top: 0;
    bottom: initial;
    left: 5rem;
    display: none;
  }
  .expert-introduction .right {
    overflow: hidden;
    height: 118px;
    padding: 1%;
  }
  .expert-introduction .right .content {
    margin-top: 0;
    padding: 0 2.5rem;
  }
  .expert-introduction .right p {
    font-size: 1rem;
  }
  .expert-introduction .right p:nth-child(2) {
    margin-top: 2rem;
  }
  .expert-introduction .right img {
    display: none;
  }
}
