@media screen and (max-width: 720px) {
  body {
    background-color: #fff;
  }
  body * {
    max-width: none !important;
    min-width: auto !important;
  }
  .home-container {
    margin: 0;
    width: 100%;
  }
  .main-container {
    width: initial !important;
  }
  .header .head-menu {
    display: none;
    height: initial;
    position: relative;
    top: 10rem;
  }
  .header .head-menu .head-menu-list {
    padding: 0;
    position: initial;
  }
  .header .head-menu .head-menu-list li a {
    color: black;
  }
  .expert-introduction {
    min-height: inherit !important;
    display: inherit;
    box-shadow: 0 0 0 !important;
    border: 1px solid black !important;
    padding-top: 0;
  }
  .expert-introduction .left {
    float: left;
    overflow: hidden;
    display: initial;
  }
  .expert-introduction .left .foot {
    display: none;
  }
  .expert-introduction .right {
    overflow: hidden;
    height: 111px;
    padding: 1%;
  }
  .expert-introduction .right .content::before {
    content: '吴勇';
    font-size: 1.5rem;
    color: #4a5da3;
    position: relative;
    left: -2.5rem;
  }
  .expert-introduction .right .content::after {
    content: '院长';
    font-size: 1rem;
    color: gray;
    position: relative;
    left: -1.5rem;
  }
  .expert-introduction .right .content {
    margin-top: 0;
    padding: 0 2.5rem;
  }
  .expert-introduction .right p {
    font-size: 1rem;
  }
  .expert-introduction .right img {
    display: none;
  }
}
