@media screen and (max-width: 720px) {
  /* 头部隐藏 */
  body {
    background-color: #fff;
  }
  body * {
    max-width: none !important;
    min-width: auto !important;
  }
  .home-container {
    margin: 0;
    width: 100%;
  }
  .main-container {
    width: initial !important;
  }
  .header {
    background-color: #fff !important;
    border-bottom: 1px solid black;
    margin: 0 5%;
    padding-right: 5%;
    width: initial !important;
    height: initial !important;
  }
  .header .backimg {
    text-align: left;
    background: none;
    float: initial;
    color: black !important;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
  }
  .body {
    background-color: #fff;
  }
  .head-top {
    background-color: #4a5da3 !important;
    height: 2vh !important;
    width: 100%;
  }
  .head-top .head-top-container {
    display: none;
  }
  .head-form {
    background-size: auto 40%;
    padding: 5vh !important;
  }
  .head-form input {
    display: none !important;
  }
  .head-form button {
    display: none;
  }
  .head-form:before {
    content: url(../img/daohang.png);
    width: 3vh !important;
    height: 3vh !important;
    display: block;
    position: relative;
    left: 90%;
    top: -3vh;
  }
  .head-nav-container {
    display: none;
  }
}
