@media screen and (max-width: 720px) {
  /* 头部隐藏 */
  .head-top {
    background-color: #4a5da3 !important;
    height: 2vh !important;
    width: 100%;
  }
  .head-top .head-top-container {
    display: none;
  }
  .head-form {
    background-size: auto 20vh !important;
    height: 22vh !important;
    padding: 5vh !important;
  }
  .head-form input {
    display: none !important;
  }
  .head-form button {
    display: none;
  }
  .head-form:before {
    content: url(../img/daohang.png);
    width: 3vh !important;
    height: 3vh !important;
    display: block;
    position: relative;
    left: 190vw;
  }
  .head-nav-container {
    display: none;
  }
}
