@media screen and (max-width: 720px) {
  body {
    background-color: #fff;
  }
  body * {
    max-width: none !important;
    min-width: auto !important;
  }
  .home-container {
    margin: 0;
    width: 100%;
  }
  .main-container {
    width: initial !important;
  }
  .header .head-menu {
    display: none;
    height: initial;
    position: relative;
    top: 65rem;
  }
  .header .head-menu .head-menu-list {
    padding: 0 0 0 2rem;
    width: 100%;
    display: initial;
  }
  .header .head-menu .head-menu-list li {
    border: 1px solid black;
    margin-bottom: 1rem;
  }
  .header .head-menu .head-menu-list li a {
    color: black;
  }
  .head-menu-list li:first-child {
    display: none;
  }
  .mid img {
    height: 20vh;
  }
  .mid .count {
    width: inherit;
    top: 4vh;
    margin: 0;
  }
  .mid .count .personcount {
    padding: 1.5rem 0 0 0;
    height: 6rem;
    overflow: hidden;
  }
  .mid .count .personcount .num {
    font-size: 0.5rem;
  }
  .mid .count .personcount .des {
    padding: 0 0.5rem;
  }
  .bottom {
    padding: 0;
    display: inherit;
  }
  .bottom .bottomleft {
    background-color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .bottom .bottomleft .phone {
    padding-left: 0.5rem;
  }
  .bottom .bottomleft .phone h2 {
    font-size: 0.6rem;
  }
  .bottom .bottomleft .phone .phonecall {
    font-size: 0.2rem;
  }
  .bottom .bottomcontent {
    text-align: left;
    text-indent: 2em;
  }
  .bottom .bottomcontent p {
    line-height: 2em;
    padding: 0 5%;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .top {
    display: initial;
    text-align: center;
  }
  .top .topimg {
    width: 100%;
    padding: 0;
  }
  .top .topimg img {
    width: 90% !important;
  }
  .top .topcontent .title {
    position: relative;
    top: -64rem;
    font-size: 6rem;
    padding-left: 10vw;
  }
  .top .topcontent .line {
    position: relative;
    top: -64rem;
    padding: 0 10vw;
  }
  .top .topcontent .line .point {
    display: none;
  }
  .top .topcontent .content {
    text-align: left;
    text-indent: 2em;
    position: relative;
    top: -8rem;
  }
  .top .topcontent .content p {
    padding: 0 5%;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
}
