@media screen and (max-width: 720px) {
  .header {
    display: none;
  }
  .mid {
    display: none;
  }
  .bottom {
    display: none;
  }
  .top {
    display: initial;
  }
  .top .topimg {
    padding-top: 20vh;
    width: 100%;
    padding: 20vh 10vw 0 10vw;
  }
  .top .topimg img {
    width: 90% !important;
  }
  .top .topcontent .title {
    position: relative;
    top: -64rem;
    font-size: 6rem;
    padding-left: 10vw;
  }
  .top .topcontent .line {
    position: relative;
    top: -64rem;
    padding: 0 10vw;
  }
  .top .topcontent .line .point {
    display: none;
  }
  .top .topcontent .content p {
    padding: 0 5%;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}
