@media screen and (max-width: 720px) {
  /* 头部隐藏 */
  body {
    background-color: #fff;
  }
  body * {
    max-width: none !important;
    min-width: auto !important;
  }
  .home-container {
    margin: 0;
    width: 100%;
  }
  .main-container {
    width: initial !important;
  }
  body .head-menu-list {
    top: 0;
    width: inherit;
    padding: 0;
    display: block;
    position: relative;
  }
  body .head-menu-list::before {
    content: ' ';
    width: 100%;
    display: block;
    height: 10px;
    background-color: #e6e6e6;
  }
  body .head-menu-list li {
    padding: 0;
    height: 43px;
    line-height: 43px;
    border: 1px solid #4d4d4d38;
    margin: 0 20px;
    margin-top: 10px;
  }
  body .head-menu-list li a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 400 !important;
  }
  .header {
    background-color: #fff;
    border-bottom: 1px solid rgba(120, 117, 117, 0.845);
    margin: 0 5%;
    padding-right: 5%;
    width: initial;
    height: initial;
  }
  .header .backimg {
    text-align: left;
    background: none;
    float: initial;
    color: black;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
  }
  .head-nav-container {
    display: none;
  }
  .body {
    background-color: #fff;
  }
  .head-top {
    background-color: #4a5da3;
    height: 0.3rem;
    padding: 0;
    width: 100%;
  }
  .head-top .head-top-container {
    display: none;
  }
  .head-form {
    background-size: auto 50%;
    margin-top: 0;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .head-form input {
    display: none;
  }
  .head-form button {
    display: none;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #fff;
    z-index: 999;
  }
  .nav-container .head-top {
    height: 0.3rem;
    padding: 0;
  }
  .nav-container .head-form {
    padding: 0;
    margin-bottom: 6rem;
    height: 6rem !important;
    box-shadow: 0 0.1rem 0.4rem #333;
  }
  .nav-container .head-form input {
    position: relative;
    display: block;
    top: 7.5rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
  }
  .nav-container .head-nav-container {
    display: block;
    box-sizing: border-box;
    border-top: 2px solid #dfe1e6;
    padding: 1rem;
  }
  .head-nav {
    border-top: 1px solid #dfe1e6;
    display: block;
    text-align: left;
  }
  .head-nav > li {
    position: relative;
    height: auto;
    border: none;
  }
  .head-nav > li.active {
    background-color: unset;
    color: unset;
  }
  .head-nav > li.active a {
    color: unset;
  }
  .head-nav > li > a {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
    border-bottom: 1px solid #dfe1e6;
    background: url('../img/more.png') no-repeat;
    background-size: 2rem 1.5rem;
    background-position: right center;
  }
  /* .head-nav > li > a::after {
    content: ">";
    color: #aaa;
    font-weight: 200;
    font-size: 2rem;
    position: absolute;
    right: 0;
  } */
  .head-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .head-nav-list li {
    width: 45%;
    text-align: center;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0 0 0;
    background-color: #dfe1e6;
  }
  .head-nav-list a {
    display: block;
  }
  .head-nav > li:hover .head-nav-list {
    display: flex;
  }
  .head-nav-list li:hover {
    background-color: #dfe1e6;
  }
  .head-nav > li:hover,
  .head-nav > li:hover > a,
  .head-nav-list li:hover a {
    background-color: transparent;
    color: unset;
  }
  .head-nav-show,
  .head-nav-hide {
    transition: transform 0.3s;
  }
  .head-nav-hide {
    transform: translate3d(100%, 0, 0);
  }
  .head-nav-show {
    transform: translate3d(0, 0, 0);
  }
  .head-nav-close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    top: 2.5rem;
    background: url('../img/guanbi1-copy.png') no-repeat;
    background-size: 100%;
    background-position: top right;
  }
  .head-form .head-nav-button {
    display: block;
    position: absolute;
    width: 2rem;
    height: 3rem;
    top: 4rem;
    right: 1.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    background: url('../img/daohang.png') no-repeat;
    background-position: top right;
  }
}
