@import 'phone-foot.css';
@media screen and (max-width: 720px) {
  body {
    background-color: #fff;
  }
  body * {
    max-width: none !important;
    min-width: auto !important;
  }
  body .home-container,
  body .featured-medical {
    width: inherit;
  }
  body .home-container > section,
  body .featured-medical > section {
    display: none;
  }
  body .home-container .flex-box.main-featured-medical > section,
  body .featured-medical .flex-box.main-featured-medical > section {
    display: none;
  }
  body .home-container .flex-box.main-featured-medical .main,
  body .featured-medical .flex-box.main-featured-medical .main {
    padding: 0 12px;
  }
  body .home-container .flex-box.main-featured-medical .ks_title,
  body .featured-medical .flex-box.main-featured-medical .ks_title {
    background: url(../img/) no-repeat;
  }
  body .head-form {
    padding: 0;
  }
}
