@import './phone-foot.css';
@media screen and (max-width: 720px) {
  /* head */
  .head-top-container {
    display: none !important;
  }
  .head-top {
    width: 100% !important;
    height: 2vh !important;
    background-color: #4a5da3 !important;
  }
  .head-nav-container {
    display: none;
  }
  .head-form > input {
    margin: 0 1rem;
    position: relative;
    top: 77vh;
    width: 100% !important;
    height: 13vh !important;
    font-size: 3rem !important;
    border-radius: 5rem;
  }
  .head-form {
    background-size: auto 75% !important;
    height: 22vh !important;
    /* margin-top: 0 !important; */
    padding: 5vh !important;
  }
  .head-form:before {
    content: url(../img/daohang.png);
    width: 3vh !important;
    height: 3vh !important;
    display: block;
    position: relative;
    left: 83%;
  }
  .head-form > button {
    display: none;
  }
  /* card按钮 */
  .service_entrance {
    padding-top: 13rem !important;
    display: flex;
    justify-content: space-between;
  }
  .service_entrance > .card > .img > img {
    display: none;
  }
  .service_entrance > .card > .img {
    background-image: url(../img/register@2x.png);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 2rem center;
  }
  .card {
    box-shadow: 0 0 0 !important;
  }
  .card > .name {
    font-size: 3rem !important;
  }
  .card > button {
    display: none;
  }
  .card:nth-child(2) > .img {
    background-image: url(../img/ReportQuery@2x.png);
  }
  .card:nth-child(3) > .img {
    background-image: url(../img/Pediatrics@2x.png);
  }
  .card:nth-child(4) > .img {
    background-image: url(../img/physicalExamination@2x.png);
  }
  /* tabs */
  .tabs {
    display: initial !important;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .index-banners {
    width: 100% !important;
    margin: 0 !important;
  }
  .tab-list {
    width: 100% !important;
    justify-content: space-between;
    border-radius: 5rem 5rem 0 0;
    border-bottom: 1px solid #4a5da3 !important;
    padding-bottom: 0 !important;
  }
  .tab-list > li {
    width: 25% !important;
  }
  .tab-list > li > p {
    font-size: 3rem;
    font-weight: 400 !important;
    margin: 5vh 1.5vw 0 17vw;
    padding-bottom: 3vh;
    border-bottom: 1vh solid #4a5da3;
  }
  .tab-more {
    position: relative;
    top: 55vh;
  }
  .news-list > li {
    height: 20vh !important;
    padding: 3vh;
  }
  .news-list > li > a > .title {
    font-size: 4rem;
    position: relative;
    top: 2vh;
    left: -32vh;
    width: 30vw;
  }
  .news-list > li > a > .time {
    font-size: 2.4rem;
    position: relative;
    top: 15vh;
  }
  /* departments */
  .pinklogo {
    background-color: #fff !important;
    margin: 180vh 0 0 !important;
  }
  .logoimg {
    padding: 2rem 10rem;
    background-color: #ffeaef;
  }
  .pinklogo > .logoimg > img {
    width: 100% !important;
    height: 100% !important;
  }
  .iconlist {
    margin-top: 3rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial !important;
  }
  .icon > div > img {
    width: 15rem !important;
    height: 15rem !important;
  }
  .icon > div {
    padding: 2rem;
  }
  .icon > .name {
    font-size: 2.4rem !important;
  }
  /* professor */
  .cardlist {
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }
  .personcard {
    width: 100% !important;
    height: 20rem;
    position: relative;
  }
  .personcard > .img > img {
    width: 20rem !important;
    height: 20rem;
  }
  .personcard > .img {
    width: 27% !important;
    position: absolute;
  }
  .personcard > .describe {
    position: absolute;
    left: 20rem;
  }
  .personcard > .describe > .introduction::before {
    width: 4.4rem !important;
    height: 4.4rem !important;
    line-height: 4.4rem !important;
    font-size: 2.4rem !important;
  }
  .personcard > .describe > .introduction {
    font-size: 2.8rem !important;
  }
  .detail {
    font-size: 2.4rem !important;
  }
  /* outpatient information */
  .container > .map {
    display: none;
  }
  .container {
    display: initial !important;
  }
  .container .information .out {
    width: 100% !important;
    height: 13rem !important;
    border-radius: 2rem;
  }
  .container .information .out .title {
    height: 13rem !important;
    line-height: 13rem !important;
    font-size: 4rem !important;
    border-radius: 2rem;
  }
  .include p {
    font-size: 3rem;
    padding-left: 1rem;
  }
  .information {
    padding: 0 5rem;
  }
} ;
