.picture-container {
  padding-bottom: 5rem;
  border-bottom: 1px solid #dfe1e6;
}
.picture-list {
  padding: 5rem 0;
  width: 90%;
  margin: 0 auto;
}
.picture-list li {
  display: inline-block;
  width: 29%;
  margin: 2rem 2%;
  position: relative;
  border-radius: 1rem;
}
.picture-list p {
  position: absolute;
  width: 60%;
  left: 2rem;
  bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  color: #fff;
}
.picture-list img {
  width: 100%;
}
.picture-list a::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 90%;
  left: 2%;
  top: 3%;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 1rem;
}
.picture-list a:hover img {
  transform: scale3d(1.1, 1.1, 1);
  transition: transform .3s;
}
.picture-list a:hover::before {
  content: none;
}