@media screen and (max-width: 720px) {
  body{
    background-color: #fff;
    * {
      max-width: none !important;
      min-width: auto !important;
    }
  }
  .home-container{
    margin: 0;
    width: 100%;
  }
  .main-container{
    width: initial !important;
  }
  .header{
    .head-menu{
      display: none;
      height: initial;
      position: relative;
      top: 10rem;
      .head-menu-list{
        padding: 0;
        position: initial;
        li{
          a{
            color: black;
          }
        }
      }
    }
  }
  .expert-introduction{
    min-height:0 !important;
    display: flex;
    box-shadow: 0 0 0 !important;
    border: 1px solid black !important;
    padding-top: 0;
    .left{
      // float: left;
      overflow: hidden;
      display: initial;
      img{
        width: 100%;
      }
      // width: 30%;
      .foot{
        float: left;
        background-color: white;
        top: 0;
        bottom: initial;
        left: 5rem;
        display: none;
      }
    }
    .right{
      overflow: hidden;
      height: 125px;
      padding: 1%;
      .content{
        // display: none;
        margin-top: 0;
        padding: 0 2.5rem;
      }
      p{
        font-size: 1rem;
      }
      p:nth-child(2){
        margin-top: 2rem;
      }
      img{
        display: none;
      }
    }
  }
}
