@import './phone-foot.css';
@media screen and (max-width: 720px) {
  body {
    * {
      max-width: none !important;
      min-width: auto !important;
    }
    .home-container,
    .featured-medical {
      width: inherit;
    }
    .head-form {
      padding: 0;
    }
  }
}
