@media screen and (max-width: 720px) {
  /* 头部隐藏 */
  .head-top {
    background-color: #4a5da3 !important;
    height: 2vh !important;
    width: 100%;
    .head-top-container {
      display: none;
    }
  }
  .head-form {
    background-size: auto 75% !important;
    height: 22vh !important;
    padding: 5vh !important;
    input {
      // margin: 0 1rem;
      // position: relative;
      // top: 9rem;
      // width: 100% !important;
      // height: 7rem !important;
      // font-size: 3rem !important;
      // border-radius: 5rem;
      display: none !important;
    }
    button {
      display: none;
    }
  }
  .head-form:before {
    content: url(../img/daohang.png);
    width: 3vh !important;
    height: 3vh !important;
    display: block;
    position: relative;
    left: 83%;
  }
  .head-nav-container {
    display: none;
  }
}
