@media screen and (max-width: 720px) {
  body{
    background-color: #fff;
    * {
      max-width: none !important;
      min-width: auto !important;
    }
  }
  .home-container{
    margin: 0;
    width: 100%;
  }
  .main-container{
    width: initial !important;
  }
  .header{
    .head-menu{
      height: initial;
      position: relative;
        top: 65rem;
      .head-menu-list{
        padding: 0 0 0 2rem;
        width: 100%;
        display: initial;
        li{
          border: 1px solid black;
          margin-bottom: 1rem;
          a{
            color: black;
          }
        }
      }
    }
  }
  .head-menu-list li:first-child{
    display: none;
  }
  .mid {
    display: none;
  }
  .bottom {
    display: none;
  }
  .top {
    display: initial;
    text-align: center;
    .topimg {
      width: 100%;
      padding: 0;
      img {
        width: 90% !important;
      }
    }
    .topcontent {
      .title {
        position: relative;
        top: -64rem;
        font-size: 6rem;
        padding-left: 10vw;
      }
      .line {
        position: relative;
        top: -64rem;
        padding: 0 10vw;
        .point {
          display: none;
        }
      }
      .content {
        text-align: left;
        text-indent: 2em;
        position: relative;
        top: -8rem;
        p {
          padding: 0 5%;
          font-size: 1.4rem;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
